
<%- include('header') %>

<style>
    .flip-card {
      width: 250px;
      background-color: #05121B;
      margin-bottom: 20px;
      height: 100px;

      perspective: 1000px;
      /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
      position: relative;
      width: 250px;
      height: 100px;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;

    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-card-front,
    .flip-card-back {
      display: flex;
      position: absolute;
      width: 250px;
      height: 100px;
      -webkit-backface-visibility: hidden;
      /* Safari */
      backface-visibility: hidden;
      border: 2px solid #fff;
      border-radius: 10px;
      justify-content: center;
      align-items: center;


    }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
      background-color: #05121B;
      color: rgb(255, 255, 255);
    }

    /* Style the back side */
    .flip-card-back {
      height: 100px;
      width: 250px;
      background-color: #05121B;
      color: white;
      transform: rotateY(180deg);
    }
  </style>
  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-section set-bg" data-setbg="/images/banner3.jpg ">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="breadcrumb__text">
            <h2>Checkout</h2>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcrumb Section End -->

  <!-- Checkout Section Begin -->
  <section class="checkout spad">
    <div class="container">
      <!-- <div class="row">
            <div class="col-lg-12">
                <h6><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click here</a> to enter your code
                </h6>
            </div>
        </div> -->
      <div class="checkout__form">
        <h4>Billing Details</h4>

        <div class="row">
          <div class="col-lg-8 col-md-6">

            <div class="shoping__continue">
              <div class="shoping__discount">
                <h5>Discount Coupons</h5>

                <h6>
                  <span class="icon_tag_alt"></span> Have a coupon? Enter your
                  coupon here
                </h6>

                <form action="/couponCode" method="post">
                  <input type="text" id="couponCode" placeholder="Enter your coupon code" name="couponCode" required />
                  <button type="submit" id="coupon-btn" class="site-btn">APPLY COUPON</button>
                </form>
              </div>
            </div>
            <% if(couponError){ %>
              <span style="font-size: 15px;color:rgb(255, 71, 71);">Invalid Coupon.!</span>
              <% } %>

                <!-- coupons -->
                <div class="shoping__discount">
                  <h5>Available Coupons</h5>
                  <% if(isCouponAvailable){ %>
                    <% availableCoupons.forEach(coupon=>{ %>
                      <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <h5>
                              Get <%= coupon.discountValue %>% Off for the
                                <% if(coupon.discountType=='firstPurchase' ){ %>
                                  First Purchase
                                  <% }else{ %>
                                    every purchase above ₹ <%= coupon.minimumPurchaseAmount %>
                                      <% } %>
                            </h5>
                          </div>
                          <div class="flip-card-back">

                            <p style="color: #fff;font-size:20px">
                              <%= coupon.code %>
                            </p>

                          </div>
                        </div>
                      </div>
                      <% }) }else{ %>
                        <span>No Coupons Available</span>
                        <% } %>



                </div>

                <form id="checkoutForm" >

                  <div class="shoping__discount">
                    <h5>Choose Payment Method</h5>

                    <div class="form-check form-check-inline radio-btn">
                      <input class="form-check-input" type="radio" name="paymentOption" id="onlinePayment"
                        value="onlinePayment" checked>
                      <label class="form-check-label" for="onlinePayment"
                        style="font-weight: 500; margin-right:20px">Online Payment</label>
                    </div>
                    <div class="form-check form-check-inline radio-btn">
                      <input class="form-check-input" type="radio" name="paymentOption" id="walletPayment"
                        value="walletPayment">
                      <label class="form-check-label" for="walletPayment"
                        style="font-weight: 500; margin-right:20px">Wallet</label>
                    </div>

                  </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="checkout__order">
              <h4>Your Order</h4>
              <div class="checkout__order__products">
                Products <span>Total</span>
              </div>
              <ul>
                <% items.forEach(game=>{ %>
                  <li>
                    <%= game.gameId.gameName %> <span>₹<%= game.gameId.price %></span>
                  </li>
                  <% }) %>
              </ul>
              <div class="checkout__order__subtotal">
                Subtotal <span>₹<%= subTotal %></span>
              </div>
              <div class="checkout__order__subtotal">
                Discount <span>₹<%= discountValue %></span>
              </div>
              <div class="checkout__order__total">
                Total <span>₹<%= totalAmount %></span>
              </div>
              <input type="text" name="totalAmount" id="total" value="<%= totalAmount %>" hidden>



              <button id="rzp-button" onclick="btnClick()" type="button" class="site-btn">PLACE ORDER</button>

            </div>
          </div>
          </form> 
        </div>

      </div>
    </div>


  </section>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  -->
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

  <script>

    
  
  async function btnClick() {
      try {
        const paymentOption = document.querySelector('input[name="paymentOption"]:checked').value;
        const totalAmount = document.getElementById('total').value;

        const response = await fetch('/createOrder', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            paymentOption: paymentOption, 
            totalAmount: totalAmount,
            currency: 'INR',
          }),
        });
        const data = await response.json();
        console.log('DATA : ', data);
    
        if (data.method=='wallet') {
          const balanceErr=data.balanceErr
          const totalAmount=data.totalAmount
          const queryParams = `?balanceErr=${balanceErr}&totalAmount=${totalAmount}`;

         window.location.href=`/walletPlaceOrder/${queryParams}`
        } else {
          // If it's for online payment, proceed with Razorpay
          const options = {
            key: 'rzp_test_rWizGdKAm2zOqw',
            amount: data.amount,
            currency: data.currency,
            name: 'Pixel Games',
            description: 'Test Transaction',
            order_id: data.id,
            handler:  function (response) {
              console.log(response);
              verifyPayment(response, data)
            },
            "modal": {
              "ondismiss": function () {
                console.log('Payment window closed');
                paymentFailed(data);
              }
            },
            prefill: {
              name: 'John Doe',
              email: 'john@example.com',
              contact: '9000090000',
            },
            theme: {
              color: '#05121B',
            },
          };
          
          const rzp = new Razorpay(options);
          rzp.open();
        }
      } catch (error) {
        console.error('Error initiating payment:', error);
        alert('Error during payment. Please try again.');
      }
    }
    
    const btn = document.getElementById('rzp-button');
    btn.addEventListener('click', function (event) {
      event.preventDefault();
      btnClick();
    });
    
  // ... Your existing code

async function verifyPayment(payment, order) {
  try {
    const response = await fetch('/verifyPayment', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        payment,
        order
      })
    });
    const responseData = await response.json();
    console.log(responseData)
    if (responseData.status) {
      let downloadGames = responseData.downloadGames;
    
      const queryParams = `?downloadGames=${downloadGames}`;
      window.location.href = `/orderSuccessfull/${queryParams}`;
    } else {
      alert('Payment Failed. Try again later.');
    }
  } catch (error) {
    console.error('Error verifying payment:', error);
    alert('Error verifying payment. Please try again.');
  }
}

// Adjusted paymentFailed function
function paymentFailed(order) {
  fetch('/paymentFailed', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ order }),
  })
    .then(response => response.json())
    .then(data => {
      if (data.status) {
        window.location.href = '/cart/Checkout/:value';
        /* Additional handling for success */
      } else {
        /* Handle other scenarios */
      }
    })
    .catch(error => {
      console.error('Error:', error);
      alert('Error processing payment failure.');
    });
}

   /* function verifyPayment(response, data) {
      fetch('/cart/placeOrder', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
         totalAmount:data.totalAmount
        })
      })
      .then(response => {
       const datas= response.json()
       const downloadGames=datas.downloadGames
         console.log("RESPonse: ",datas)
          const queryParams = `?downloadGames=${downloadGames}`;
          window.location.href=`/orderSuccessfull/${queryParams}`

      })
    }  */
    
  </script>


  <%- include('footer') %>