<%- include('header') %>
    <!-- Header Section End -->
<style>
    #snackbar {
       
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #4eb81c;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 10px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
      }
      
      #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }
      
      @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
      }
      
      @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;} 
        to {bottom: 0; opacity: 0;}
      }
      
      @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }
</style>
    <!-- Hero Section Begin -->
    <section class="hero">

        <div class="row">
            <!-- <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All genres</span>
                        </div>
                        <ul>
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Adventure</a></li>
                            <li><a href="#">Racing</a></li>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">Stratergy</a></li>

                        </ul>
                    </div>
                </div> -->
            <!-- <div class="col-lg-12">

                <div class="hero__item set-bg" data-setbg="/images/b6.jpg" style="opacity: 0.8;">
                    <div class="hero__text" >
                       
                       
                    </div>
                </div>

            </div> -->
        </div>
        </div>

    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
<!-- HTML code for the toast message -->

    <!-- Categories Section End -->
    
    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>All Games</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li  class="" data-filter="*"><a style="color: aliceblue;" href="/categories">All</a></li>
                            <% genres.forEach(genre=>{ %>
                                <% if(genre.unlistGenre==false){ %>
                                  <li> <a href="/categories?gameGenre=<%= genre.genreName %>" style="color: #fff;">   <%= genre.genreName %> </a>                                    
                                     
                                  </li>
                                   
                                    <%} }); %>
                                        <li>
                                            <form class="form-inline my-2 my-lg-0" action="/searchGames" method="get">
                                                <input class="form-control mr-sm-2" name="gameName" type="search"
                                                    placeholder="Search" aria-label="Search">
                                                <button class="btn btn-outline-success my-2 my-sm-0 search-btn"
                                                    type="submit">Search</button>
                                            </form>
                                        </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                <span style="font-size: 20px; color:#fff;text-align: center;" >
                    <%= message %>
                </span>
                <% games.forEach(game => { %>
                    <% if (game.unlist === false) { %>
                      <div class="col-lg-3 col-md-4 col-sm-6 mix <%= game.genre %>">
                        <div class="featured__item">
                          <div class="featured__item__pic set-bg" data-setbg="<%= game.gameImages[0] %>">
                            <ul class="featured__item__pic__hover">
                              <% let isMatched = false; %>
                              <% items.forEach(item => { %>
                                <% if(item.gameId.genre == gameGenre){ %>
                                <% if (item.gameId.toString() === game._id.toString()) { %>
                                  <% isMatched = true; %>
                                  <li>
                                    <a href="/gameDetails/<%= game._id %>?userId=<%= user._id %>"><i class="fa-solid fa-play"></i></a>
                                  </li>
                                <% } }%>
                              <% }); %>
                              <% if (!isMatched) { %>
                                <li>
                                  <a href="/gameDetails/<%= game._id %>?userId=<%= user._id %>"><i class="fa-solid fa-circle-info"></i></a>
                                </li>
                                <li>
                                  <button type="button" onclick="wishlistBtn('<%= game._id %>')" style="border-radius: 20px; padding: 0px; background-color: transparent; border: none;">
                                    <a href="#" id="wishlist-icon"><i class="fa fa-heart"></i></a>
                                  </button>
                                </li>
                                <li>
                                  <button type="button" onclick="cartBtn('<%= game._id %>')" style="border-radius: 20px; padding: 0px; background-color: transparent; border: none;">
                                    <a href="#" id="cart-ion"><i class="fa fa-shopping-cart"></i></a>
                                  </button>
                                </li>
                              <% } %>
                            </ul>
                          </div>
                          <div class="featured__item__text">
                            <h6>
                              <a href="/gameDetails/<%= game._id %>/userId=<%= user._id %>">
                                <%= game.gameName %>
                              </a>
                            </h6>
                            <h5>₹ <%= game.price %>.00</h5>
                            <p><%= game.gameRate %> <i class="fa fa-star"></i> Ratings</p>
                          </div>
                        </div>
                      </div>
                    <% } %>
                  <% }); %>
                  
                        <div style="position:relative;text-align: right;">
                            <div aria-label="Page navigation example" >
                                <div class="pagination-container">
                                    <ul class="pagination" >
                                        <li class="page-item" >
                                    <% if (currentPage > 1) { %>
                                      <a  href="/categories?page=<%= currentPage - 1 %>" style="background-color: #05121B;color:#fff">&laquo;</a>
                                    <% } %>
                                </li>
                            
                                <li class="page-item"><% for (let i = 1; i <= totalPages; i++) { %>
                                      <a href="/categories?page=<%= i %>" <%= i === currentPage ? 'class="active"' : '' %>    style="background-color: #05121B;color:#fff"><%= i %></a>
                                    <% } %>
                                </li>
                                <li class="page-item"><% if (currentPage < totalPages) { %>
                                      <a href="/categories?page=<%= currentPage + 1 %>"  >&raquo;</a>
                                    <% } %>
                                </li>
                            </ul>
                                  </div>
                                </div>
                        </div>
                        
                        
            </div>
        </div>
    </section>
    <div id="snackbar"></div>
    <!-- Featured Section End -->

    <section>
        
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <script>

      /*async function gameFilter(gameGenre){
        try{
          console.log("Hi")
          const response = await fetch('/gameFilter', {
              method: 'POST',
              headers: {
              'Content-Type': 'application/json'
              },
              body: JSON.stringify({ gameGenre: gameGenre })
          })

          const data =await response.json()
          console.log(data)
          
          
      }catch(error){
          console.log(error)
      }
      }

*/

       async function wishlistBtn(gameId){
            try{
                const response = await fetch('/addToWishlist', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ gameId: gameId })
                })

                const data =await response.json()
                if(data.status){
                    showToast('Game added to wishlist',"green");
                }else{
                    showToast('Game is already in the wishlist',"red");
                }
            }catch(error){
                console.log(error)
            }
           
             
        }

        async function cartBtn(gameId){
            try{
                const response = await fetch('/addToCart', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ gameId: gameId })
                })

                const data =await response.json()
                if(data.status){
                    showToast('Game added to cart',"green");
                }else{
                    showToast('Game is already in the cart',"red");
                }
            }catch(error){
                console.log(error)
            }
           
             
        }



        function showToast(message,color) {
            var x = document.getElementById("snackbar");
            document.getElementById('snackbar').textContent=message
            document.getElementById('snackbar').style.backgroundColor=color
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
    </script>

    <%- include('footer') %>