<%- include('header') %>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/images/banner3.jpg ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Checkout</h2>
          <div class="breadcrumb__option">
            <a href="./index.html">Home</a>
            <span>Checkout</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
  <div class="container">
   
    <div class="checkout__form">
      <h4>Billing Details</h4>
      <form action="#">
        <div class="row">
          <div class="col-lg-8 col-md-6">
          

            <div class="shoping__continue">
              <div class="shoping__discount">
                <h5>Discount Codes</h5>

                <h6>
                  <span class="icon_tag_alt"></span> Have a coupon? Enter your
                  coupon here
                </h6>

                <form action="#">
                  <input
                    type="text"
                    id="couponCode"
                    placeholder="Enter your coupon code"
                  />
                  <button type="submit" class="site-btn">APPLY COUPON</button>
                </form>
              </div>
            </div>
            <div class="shoping__discount">
              <h5>Choose Payment Method</h5>

              <div class="form-check form-check-inline radio-btn">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio1"
                  value="option1"
                  checked
                />
                <label
                  class="form-check-label"
                  for="inlineRadio1"
                  style="font-weight: 500; margin-right: 20px"
                  >Online Payment</label
                >
              </div>
              <div class="form-check form-check-inline radio-btn">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio2"
                  value="option2"
                  disabled
                />
                <label
                  class="form-check-label"
                  for="inlineRadio2"
                  style="font-weight: 500; margin-right: 20px"
                  >Others</label
                >
              </div>
              
            </div>

          </div>

          <div class="col-lg-4 col-md-6">
            <div class="checkout__order">
              <h4>Your Order</h4>
              <img
                src="<%= game.gameImage %>"
                alt=""
                style="border-radius: 5px; margin-bottom: 20px"
              />
              <div class="checkout__order__products">
                Products <span>Total</span>
              </div>
              <ul>
                <li><%= game.gameName %> <span>₹<%= game.price %></span></li>
              </ul>
              <div class="checkout__order__subtotal">
                Subtotal <span>₹<%= game.price %></span>
              </div>
              <div class="checkout__order__total">
                Total <span>₹<%= game.price %></span>
              </div>
        
              <form id="razorpayForm" action="/placeOrder/<%= game._id %>" method="post">
                <!-- Include other form fields as needed -->
                <input type="hidden" id="razorpayAmount" name="amount" value="<%= game.price * 100 %>">
                <button id="placeOrderButton" type="submit" class="site-btn">PLACE ORDER</button>
              </form>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<%- include('footer') %>
