<%- include('header') %>


  <div class="container">

    <section class="product-details spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="product__details__pic">
              <div class="product__details__pic__item">
                <img class="product__details__pic__item--large" src="<%= game.gameImage %>" alt="">
              </div>
              <!-- <div class="product__details__pic__slider owl-carousel">
                                <img data-imgbigurl="img/product/details/product-details-2.jpg"
                                    src="./images/re1.jpeg" alt="">
                                <img data-imgbigurl="img/product/details/product-details-3.jpg"
                                    src="./images/re2.jpg" alt="">
                                <img data-imgbigurl="img/product/details/product-details-5.jpg"
                                    src="./images/re3.jpeg" alt="">
                                <img data-imgbigurl="img/product/details/product-details-4.jpg"
                                    src="./images/re4.jpg" alt="">
                            </div> -->
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="product__details__text">
              <h3>
                <%= game.gameName %>
              </h3>
              <!-- <div class="product__details__rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <span>(18 reviews)</span>
                            </div> -->
              <p id="genreName">
                <%= game.genre %> Game
              </p>
              <p>
                <%= game.description %>
              </p>
              <!-- <div class="product__details__quantity">
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <input type="text" value="1">
                                    </div>
                                </div>
                            </div> -->

              <div class="product__details__price">₹ <%= game.price %>
              </div>

              <div style="display: flex;">
                <% if (gameExists) { %>
                  <a href="" class="primary-btn">Play NOW</a>
                  <a href="/installedGames"> <button class="primary-btn">Go to Library</button></a>
                  <% } else { %>
                    <a href="/checkout/<%= game._id %>" class="primary-btn">BUY NOW</a>
                    <% if (isCart) { %>
                      <a href="/cart"> <button class="primary-btn">VIEW IN CART</button></a>
                      <% } else { %>
                        <form action="/addToCart/<%= game._id %>" method="post">
                          <button type="submit" class="primary-btn">ADD TO CART</button>
                        </form>
                        <% } %>
                          <% if(isWishlist){ %>
                            <a href="/wishlist"> <button class="primary-btn">Go to wishlist</button></a>

                            <% }else{ %>
                              <form action="/addToWishlist/<%= game._id %>" method="post">
                                <button type="submit" class="heart-icon">Add To Wishlist</button>
                              </form>
                              <% } %>
                                <% } %>

                                  <!-- <button type="submit" class="heart-icon"><span class="icon_heart_alt"></span></button> -->


              </div>



              <ul>
                <li><b>Genre</b> <span>
                    <%= game.genre %>
                  </span></li>
                <li><b>Size</b> <span>
                    <%= game.gameSize %> GB
                  </span></li>
                <li><b>Released</b> <span id="released">
                    <%= released %>
                  </span></li>
                <li><b>Publisher</b> <span>
                    <%= game.publisher %>
                  </span></li>


            </div>
          </div>
    </section>

    
      <div class="container " style="margin-bottom: 20px;">
        <div class="row">
          <div class=" col-md-6">
            <div class="d-flex flex-column ">
              <div class="d-flex flex-row  comment-top   border-bottom px-4">

                <div class="d-flex flex-column ml-3">
                  <div class="d-flex flex-row post-title">
                    <h4>Comments</h4>
                    <!-- <span class="ml-2" style="color: aliceblue; font-size: 20px;">(<%= commentsCount %>)</span> -->
                  </div>

                </div>
              </div>
              <div class="coment-bottom  p-2 px-4 " style="width: 100%;">
                <% if(isCommentNull){ %>

                  <span style="font-size: 18px;margin-top:20px; color:rgb(104, 102, 102)">No Comments</span>

                  <% }else{ %>
                    <% commentDetails.forEach(comment=>{ %>
                    <div class="commented-section mt-2" style="margin-bottom: 20px;">
                      <div class="d-flex  commented-user" style="margin-bottom: 10px;margin-top: 10px;">
                        <div style="margin-right:10px;padding-top:4px; background-color: aliceblue; width:25px;height:25px;border-radius:50%;text-align:center"><i style="font-size: 15px;" class="fa-solid fa-user"></i></div>
                        <h5 class="mr-2" style="margin-top: 3px;margin-right:10px"><%= comment.userId.fullName %></h5>
                      <span class="mb-1 ml-2" style="margin-top:4px;color:rgb(90, 90, 90)"><%= comment.createdAt %></span>
                      </div>
                      <div class="comment-text-sm" style="color: rgb(198, 198, 198); margin-left:40px">
                        <span><%= comment.text %></span>
                      </div>
    
                    </div>

                    <% }) } %>
                


              </div>
            </div>
          </div>

          <!-- commentBox -->
          <div class="d-flex col-md-6  " style="margin-top: 27px;">
            <div class="d-flex flex-column ">
              <div class="d-flex flex-row  comment-top   border-bottom px-4">

                <div class="d-flex flex-column ml-3">
                  <div class="d-flex flex-row post-title">
                    <h4></h4>
                    <span class="ml-2" style="color: aliceblue; font-size: 20px;"></span>
                  </div>

                </div>
              </div>
              <div class="coment-bottom  ">
                <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                  <form action="/commentData" method="post" style="display: flex;">
                    <input type="text" name="gameId" value="<%= game._id %>" hidden>
                    <textarea type="text" rows="2" cols="50" class="form-control mr-3" name="commentData" placeholder="Add comment"
                      style="width: 400px;"></textarea>
                    <button class="btn btn-primary comment-btn" type="submit">Comment</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- hi -->
        </div>
      </div>


    </div>
  </div>
  


 
  <!-- Product Details Section Begin -->


  <script>
    const dateString = "<%= game.released %>";

    // Create a Date object from the given string
    const originalDate = new Date(dateString);

    // Format the date as "dd mmm yyyy"
    const formattedDate = originalDate.toLocaleDateString('en-GB', {
      day: 'numeric',
      month: 'short',
      year: 'numeric',
    });
    document.getElementById('released').innerText = formattedDate
  </script>

  <!-- Footer Section Begin -->
  <%- include('footer') %>