<%- include('header') %>
  <style>
    #snackbar {
       
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #4eb81c;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 10px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
    }
    
    #snackbar.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
    
    @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;} 
      to {bottom: 30px; opacity: 1;}
    }
    
    @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
    }
    
    @-webkit-keyframes fadeout {
      from {bottom: 30px; opacity: 1;} 
      to {bottom: 0; opacity: 0;}
    }
    
    @keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
    }
    .star-rating {
      white-space: nowrap;
    }
    .star-rating [type="radio"] {
      appearance: none;
    }
    .star-rating i {
      font-size: 1.2em;
      transition: 0.3s;
    }
    
    .star-rating label:is(:hover, :has(~ :hover)) i {
      transform: scale(1.35);
      color: #fffdba;
      animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
    }
    .star-rating label:has(~ :checked) i {
      color: #faec1b;
      text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
    }
    
    @keyframes jump {
      0%,
      50% {
        transform: translatey(0) scale(1.35);
      }
      100% {
        transform: translatey(-15%) scale(1.35);
      }
    }
    .modal {
      display: none;
      position: fixed;
      z-index: 9999;
      padding-top: 50px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.9);
  }
  
  .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
  }
  
  .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
      cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
  }
  
  </style>

  <div class="container">

    <section class="product-details spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="product__details__pic">
              <div class="product__details__pic__item">
                <img class="product__details__pic__item--large" src="<%= game.gameImages[0] %>" alt="">
              </div>
              <div class="image-gallery">
                <img src="<%= game.gameImages[1] %>" alt="" width="150px" class="gallery-image">
                <img src="<%= game.gameImages[2] %>" alt="" width="150px" class="gallery-image">
                <!-- Other images -->
            </div>
            
            <div class="modal" id="imageModal">
                <span class="close">&times;</span>
                <img class="modal-content" id="modalImg">
                <div id="caption"></div>
            </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="product__details__text">
              <h3>
                <%= game.gameName %>
              </h3>
              <!-- <div class="product__details__rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <span>(18 reviews)</span>
                            </div> -->


                              <div class="product__details__rating" style="color: #fff;font-size:18px;">
                               <%= averageRating %>
                                <i class="fa fa-star"></i>
                               
                                <span>(<%= rateCount %>)</span>
                            </div>
              <p id="genreName">
                <%= game.genre %> Game
              </p>
             
              <p>
                <%= game.description %>
              </p>
              <!-- <div class="product__details__quantity">
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <input type="text" value="1">
                                    </div>
                                </div>
                            </div> -->

              <div class="product__details__price">₹ <%= game.price %>
              </div>

              <div style="display: flex;">
                <% if (gameExists) { %>
                  <a href="" class="primary-btn">Play NOW</a>
                  <a href="/installedGames"> <button class="primary-btn">Go to Library</button></a>
                  <% } else { %>
                    <% if (isCart) { %>
                      <a href="/cart"> <button class="primary-btn">VIEW IN CART</button></a>
                      <% } else { %>
                       
                          <button type="submit" onclick="cartBtn('<%= game._id %>')" id="addToCart" class="primary-btn">ADD TO CART</button>
                       
                        <% } %>
                          <% if(isWishlist){ %>
                            <a href="/wishlist"> <button class="primary-btn">Go to wishlist</button></a>

                            <% }else{ %>
                              
                                <button type="submit" onclick="wishlistBtn('<%= game._id %>')" id="addToWishlist" class="heart-icon">Add To Wishlist</button>
                            
                              <% } %>
                                <% } %>

                                  <!-- <button type="submit" class="heart-icon"><span class="icon_heart_alt"></span></button> -->
                                  
              </div>



              <ul>
                <li><b>Genre</b> <span>
                    <%= game.genre %>
                  </span></li>
                <li><b>Size</b> <span>
                    <%= game.gameSize %> GB
                  </span></li>
                <li><b>Released</b> <span id="released">
                    <%= released %>
                  </span></li>
                <li><b>Publisher</b> <span>
                    <%= game.publisher %>
                  </span></li>


            </div>
          </div>
    </section>

    
      <div class="container " style="margin-bottom: 20px;">
        <div class="row">
          <div class=" col-md-6">
            <div class="d-flex flex-column ">
              <div class="d-flex flex-row  comment-top   border-bottom px-4">

                <div class="d-flex flex-column ml-3">
                  <div class="d-flex flex-row post-title">
                    <h4>Reviews</h4>
                    <!-- <span class="ml-2" style="color: aliceblue; font-size: 20px;">(<%= commentsCount %>)</span> -->
                  </div>

                </div>
              </div>
              <div class="coment-bottom  p-2 px-4 " style="width: 100%;">
                <% if(isCommentNull){ %>

                  <span style="font-size: 18px;margin-top:20px; color:rgb(104, 102, 102)">No Comments</span>

                  <% }else{ %>
                    <% comments.forEach(comment=>{ %>
                      <% if(comment.text){ %>
                    <div class="commented-section mt-2" style="margin-bottom: 20px;position: relative;">
                      <div class="d-flex  commented-user" style="margin-bottom: 10px;margin-top: 10px;">
                        <div style="margin-right:10px;padding-top:4px; background-color: aliceblue; width:25px;height:25px;border-radius:50%;text-align:center"><i style="font-size: 15px;" class="fa-solid fa-user"></i></div>
                        <h5 class="mr-2" style="margin-top: 3px;margin-right:10px"><%= comment.userId.fullName %></h5>
                      <span class="mb-1 ml-2" style="margin-top:4px;color:rgb(90, 90, 90)"><%= comment.createdAt %></span>



                      <% if(userId == comment.userId._id){ %>
                      <form action="/deleteComment" method="post" style="position: absolute;right:0%">
                        <input type="text" name="commentId" value="<%= comment._id %>" hidden>
                        <input type="text" name="gameId" value="<%= game._id%>" hidden>
                        <button type="submit"  class="fa-solid fa-trash" style="color: #ffffff;font-size:14px;margin-left:20px;background-color: transparent;border:none"><i ></i></button>
                      </form>
                      <% }else { %>

                        <button type="button" class="fa-solid fa-flag" data-toggle="modal" data-target="#exampleModal" style="position: absolute;right:0%;color: #ffffff;font-size:14px;margin-left:20px;background-color: transparent;border:none"></button>
                         
                        
            <!-- Modal -->
            <div class="modal fade" id="exampleModal"  aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="false">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form action="/reportComment" method="post" style="position: absolute;right:0%;background-color: #ffffff;">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Report Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  
                  <div class="modal-body" style="padding-left: 30px;">
                      <p style="font-size:20px">Why are you reporting this comment?</p>
                      <div class="form-check" style="margin-bottom:10px;font-size:18px;font-weight: 500;">
                        <input class="form-check-input" type="radio" name="reason" id="flexRadioDefault1"  value="Spam" checked>
                        <label class="form-check-label" for="flexRadioDefault1" style="font-size:18px;font-weight: 500;">
                          Its spam
                        </label>
                      </div>
                      <div class="form-check" style="margin-bottom:10px;font-size:18px;font-weight: 500;">
                        <input class="form-check-input" type="radio" name="reason" id="flexRadioDefault1"  value="Nudity">
                        <label class="form-check-label" for="flexRadioDefault1" style="font-size:18px;font-weight: 500;">
                          Nudity or sexual activity 
                        </label>
                      </div>
                      <div class="form-check" style="margin-bottom:10px;font-size:18px;font-weight: 500;">
                        <input class="form-check-input" type="radio" name="reason" id="flexRadioDefault1"  value="False-Information">
                        <label class="form-check-label" for="flexRadioDefault1" style="font-size:18px;font-weight: 500;">
                          False information
                        </label>
                      </div>
                      <div class="form-check" style="margin-bottom:10px;font-size:18px;font-weight: 500;">
                        <input class="form-check-input" type="radio" name="reason" id="flexRadioDefault1" value="Bullying">
                        <label class="form-check-label" for="flexRadioDefault1" style="font-size:18px;font-weight: 500;">
                          Bullying or harassment
                        </label>
                      </div>
                      <div class="form-check" style="margin-bottom:10px;font-size:18px;font-weight: 500;">
                        <input class="form-check-input" type="radio" name="reason" id="flexRadioDefault1" value="don't-like">
                        <label class="form-check-label" for="flexRadioDefault1" style="font-size:18px;font-weight: 500;">
                          I just don't like it
                        </label>
                      </div>
                     
                     
                      <input type="text" name="commentId" value="<%= comment._id %>" hidden>
                      <input type="text" name="gameId" value="<%= game._id%>" hidden>
                   
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Report</button>
                  </div>
                </form>
                </div>
              </div>
            </div>




                       
                        <% } %>
                      </div>
                      <div class="comment-text-sm" style="color: rgb(198, 198, 198); margin-left:40px">
                        <span><%= comment.text %></span>
                      </div>
    
                    </div>

                    <% }
                   }) } %>
                


              </div>
            </div>
          </div>


            <!-- MODAL -->



            
            

          <% if(userInstalled ){ %>

          <!-- commentBox -->
          <div class="d-flex col-md-6  ">
            <div class="d-flex flex-column ">
              <div class="d-flex flex-row  comment-top   border-bottom px-4">

                <div class="d-flex flex-column ml-3">
                  <div class="d-flex flex-row post-title">
                    <h4>Rate and Review this game</h4>
                    <span class="ml-2" style="color: aliceblue; font-size: 20px;"></span>
                  </div>

                </div>
              </div>
              
              <div class="coment-bottom  " style="padding-top: 20px;">
                <p>Rating: <span class="star-rating">
                  <label for="rate-1" style="--i:1"><i class="fa-solid fa-star"></i></label>
                  <input type="radio" name="rating" id="rate-1" value="1" onclick="rating(1)" >
                  <label for="rate-2" style="--i:2"><i class="fa-solid fa-star"></i></label>
                  <input type="radio" name="rating" id="rate-2" value="2" onclick="rating(2)">
                  <label for="rate-3" style="--i:3"><i class="fa-solid fa-star"></i></label>
                  <input type="radio" name="rating" id="rate-3" value="3"  onclick="rating(3)">
                  <label for="rate-4" style="--i:4"><i class="fa-solid fa-star"></i></label>
                  <input type="radio" name="rating" id="rate-4" value="4"  onclick="rating(4)">
                  <label for="rate-5" style="--i:5"><i class="fa-solid fa-star"></i></label>
                  <input type="radio" name="rating" id="rate-5" value="5"  onclick="rating(5)">
                </span></p>
                <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                  <form action="/commentData" method="post" style="display: flex;">
                    <input type="text" name="gameId" value="<%= game._id %>" hidden>
                    <textarea type="text" rows="2" cols="50" class="form-control mr-3" name="commentData" placeholder="Add comment"
                      style="width: 400px;"></textarea>
                    <button class="btn btn-primary comment-btn" type="submit">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- hi -->
        </div>
      </div>
      <% } %>

    </div>
  </div>
  

  <div id="snackbar"></div>
 
  <!-- Product Details Section Begin -->


  <script>

    document.addEventListener('DOMContentLoaded', function() {
      const images = document.querySelectorAll('.gallery-image');
      const modal = document.getElementById('imageModal');
      const modalImg = document.getElementById('modalImg');
  
      images.forEach(img => {
          img.addEventListener('click', function() {
              modal.style.display = 'block';
              modalImg.src = this.src;
          });
      });
  
      const closeModal = document.querySelector('.close');
      closeModal.addEventListener('click', function() {
          modal.style.display = 'none';
      });
  });
  
   let rating1 = '<%= userRated %>' 
    console.log(rating1)
    document.querySelector(`input[name="rating"][value="${rating1}"]`).checked = true;




    var myModal = document.getElementById('myModal')
var myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
})

    const dateString = "<%= game.released %>";

    // Create a Date object from the given string
    const originalDate = new Date(dateString);

    // Format the date as "dd mmm yyyy"
    const formattedDate = originalDate.toLocaleDateString('en-GB', {
      day: 'numeric',
      month: 'short',
      year: 'numeric',
    });
    document.getElementById('released').innerText = formattedDate




    async function wishlistBtn(gameId){
      try{
          const response = await fetch('/addToWishlist', {
              method: 'POST',
              headers: {
              'Content-Type': 'application/json'
              },
              body: JSON.stringify({ gameId: gameId })
          })

          const data =await response.json()
          if(data.status){
            document.getElementById('addToWishlist').innerText="VIEW IN WISHLIST"

              showToast('Game added to wishlist',"green");
          }else{
              showToast('Game is already in the wishlist',"red");
          }
      }catch(error){
          console.log(error)
      }
     
       
  }

  async function cartBtn(gameId){
      try{
          const response = await fetch('/addToCart', {
              method: 'POST',
              headers: {
              'Content-Type': 'application/json'
              },
              body: JSON.stringify({ gameId: gameId })
          })

          const data =await response.json()
          if(data.status){
            document.getElementById('addToCart').innerText="VIEW IN CART"
              showToast('Game added to cart',"green");
          }else{
              showToast('Game is already in the cart',"red");
          }
      }catch(error){
          console.log(error)
      }
     
       
  }

  async function rating(rate){
    try{
      const response = await fetch('/rating', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json'
        },
        body: JSON.stringify({ rate: rate ,gameId:'<%= game._id %>'})
    })

    const data =await response.json()
    if(data.status){
     
        showToast('Your rating has been saved ',"green");
    }else{
        showToast('Error in rating',"red");
    }
    }catch{
      console.log(error)
    }
  }

  function showToast(message,color) {
      var x = document.getElementById("snackbar");
      document.getElementById('snackbar').textContent=message
      document.getElementById('snackbar').style.backgroundColor=color
      x.className = "show";
      setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
  }


  </script>

  <!-- Footer Section Begin -->
  <%- include('footer') %>