<%- include('header') %>
  <!-- Header Section End -->
  <style>
    .explorebtn{
      border: 2px solid #fff;
      width: 130px;
      height: 50px;
      font-size: 20px;
      margin-top: 20px;
    }
    /* Add CSS styles for carousel, items, controls as needed */
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 670px;
  margin-bottom: 50px;
  /* Add any other styles for positioning, size, etc. */
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  /* Adjust as needed */
  display: inline-block;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* Adjust as needed */
  cursor: pointer;
  /* Add styles for arrows/icons */
}

   
  </style>

  <!-- Hero Section Begin -->
  <!-- <section class="hero">

    <div class="row" style="position: relative;">
      
      <div class="col-lg-12">

        <div class="hero__item set-bg" data-setbg="/images/b3.jpg">
          <div style="background: linear-gradient(to bottom, transparent, rgb(0, 0, 0)); width:110%;height: 100%;margin-left:-80px;opacity: 0.9;" >



          </div> 
        </div>
      </div>
      <div style="position: absolute;left:13%;bottom: 17%;">
        <h2 style="font-size: 56px;font-weight:800">The Ultimate <br> Gaming Destination</h2>
        <p style="color: #fff;font-size:20px;margin-top:20px">Failure doesn't mean the game is over, it means try again with experience. </p>
       <a href="/categories"> <button class="btn explorebtn btn-outline-light" >Explore  <i style="margin-left:10px" class="fa-solid fa-arrow-right" style="color: #ffffff;"></i></button></a>
      </div>
      
    </div>
    </div>

  </section> -->


  <div id="demo" class="carousel" >
    <!-- The slideshow -->

   
    <div class="carousel-inner">
      <% banners.forEach(banner =>{  %>
        <% if(banner.isActive){ %>
        <div class="carousel-item active">
          <img src="<%= banner.imageUrls %>" alt="Los Angeles" height="100%;"  width="100%" style="opacity: 0.8;">
          <div style="position: absolute;left:13%;bottom: 35%;width:500px">
            <h2 style="font-size: 56px;font-weight:800;text-shadow: 5px 5px 8px #000000;"><%= banner.title %></h2>
            <p style="color: #fff;font-size:20px;margin-top:20px">Explore the world of games</p>
           <a href="/categories"> <button class="btn explorebtn btn-outline-light" >Explore  <i style="margin-left:10px" class="fa-solid fa-arrow-right" style="color: #ffffff;"></i></button></a>
          </div>
       
      </div>
        <% } }) %>
        
        
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#" onclick="prevSlide()">&laquo;</a>
    <a class="carousel-control-next" href="#" onclick="nextSlide()">&raquo;</a>
</div>
  <!-- Hero Section End -->

  <!-- Categories Section Begin -->
  <section class="categories">
    <div class="container">
      <h2 style="text-align:center; margin-bottom:30px;font-weight:700">Latest Games</h2>
      <div class="row">
        <div class="categories__slider owl-carousel">
          <% games.forEach(game=>{ %>
            <% if(game.unlist==false){ %>
              <div class="col-lg-12">
                <div class="categories__item set-bg" data-setbg="<%= game.gameImages[0] %>">
                  <h5><a href="/gameDetails/<%= game._id %>/?userId=<%= user._id %>">BUY NOW</a></h5>

                </div>
              </div>
              <% }}); %>

        </div>
      </div>
    </div>
  </section>
  <!-- Categories Section End -->

  <!-- Featured Section Begin -->
  <div class="container">
    <h2 style="text-align:center; margin-bottom:30px;margin-top:50px;font-weight:700">What's new</h2>
    <hr class="featurette-divider">
    <div class="row featurette ">
      <div class="col-md-7 ">
        <h2 class="featurette-heading ">New Releases</h2>
        <p style="margin-top: 15px;" class="lead  ">Be the first to dive into recently launched games, experiencing the thrill of exploring uncharted worlds and gripping storylines.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/images/b2.jpg"
          alt="" width="500" height="500">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="/images/b2.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Upcoming Titles</h2>
        <p style="margin-top: 15px;" class="lead">Get a sneak peek at upcoming releases and pre-order to secure your copy in advance, ensuring you're among the first to embark on new gaming adventures.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/images/b1.jpg"
          alt="" width="500" height="500">

        
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Exciting Updates </h2>
        <p style="margin-top: 15px;" class="lead"> Discover downloadable content (DLC), expansion packs, and updates that breathe fresh life into your favorite games, offering new challenges and experiences.
        </p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/images/b4.jpg"
          alt="" width="500" height="500">

        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->

      </div>
    </div>

    <hr class="featurette-divider">
  </div>

  <!-- Featured Section End -->
<script>
  let slideIndex = 0;

function showSlide(n) {
    const slides = document.getElementsByClassName("carousel-item");
    if (n >= slides.length) {
        slideIndex = 0;
    }
    if (n < 0) {
        slideIndex = slides.length - 1;
    }
    for (let i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    slides[slideIndex].style.display = "inline-block";
}

function prevSlide() {
    showSlide(--slideIndex);
}

function nextSlide() {
    showSlide(++slideIndex);
}

showSlide(slideIndex);

</script>

  <%- include('footer') %>