<%- include('header') %>
<style>
  td{
    text-align: center;
   
  }
  th{
    text-align: center;
  }
 
</style>
<section class="breadcrumb-section set-bg" data-setbg="/images/image-4-o1s.png">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="breadcrumb__text">
            
            <div class="breadcrumb__option">
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title" style="margin-top: 20px;">
                <h2>Order History</h2>
            </div>
            
        </div>
    </div>
    <div>
        <table class="table table-dark">
            <thead>
                <tr>
                  <th scope="col">Game Name</th>
                  
                  <th scope="col">Order Date</th>
                  <th scope="col">Payment Method</th>
                  <th scope="col">Price</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
           
                  <% orders.forEach((order, index) => { %>
                    <tr>
                      <td ><% order.gameItems.forEach((gameItem) => { %>
                   <img src=" <%= gameItem.gameId.gameImages[0] %>" alt="" width="100px" >    <br>
                  <p style="margin-top:5px ;color:#ffffff;" ><%= gameItem.gameId.gameName %></p><br>
                       <% }); %></td>
                      
                      <td><%= order.orderDate.toLocaleDateString("en-IN",{ day: '2-digit', month: 'short', year: 'numeric' }) %></td>
                      <td><%= order.paymentMethod %></td>
                      <td>₹<%= order.totalAmount %></td>
                      <td><%= order.orderStatus %></td>
                    </tr>
                  <% }); %>
               
                  <tr>
                    <td colspan="6">
                      <p style="font-size: 20px; color:#ffffff; text-align: center;"><%= orderNull %></p>
                    </td>
                  </tr>
              
              </tbody>
              
              
          </table>
    </div>

</div>


<%- include('footer') %>