<%- include('./includes/adminHeader.ejs'); -%>


<style>
    #snackbar {
       
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #4eb81c;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 10px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
      }
      
      #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }
      
      @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
      }
      
      @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;} 
        to {bottom: 0; opacity: 0;}
      }
      
      @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }
</style>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="page-header">Coupon Management</h1>
            </div>
            <!-- <li class="search-bar sidebar-search  col-lg-4" style="margin-top: 20px;">
                <div class="input-group custom-search-form">
                    <form action="/searchCouon" method="get" style="display: flex;">

                        <input type="text" class="form-control" name="couponName" placeholder="Search by Game name">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                    </form>
                    </span>
                </div>
              
            </li>  -->
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="/insertCoupon"><button>Insert Coupon</button></a>
                         
                     </div>
                     <div class="panel-heading">
                         Coupon List
                     </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!-- Pagination links -->
<nav aria-label="Page navigation example">
    <div class="pagination">
        <ul class="pagination">
            <li class="page-item">
        <% if (currentPage > 1) { %>
          <a  href="/couponList?page=<%= currentPage - 1 %>">&laquo;</a>
        <% } %>
    </li>

    <li class="page-item"><% for (let i = 1; i <= totalPages; i++) { %>
          <a href="/couponList?page=<%= i %>" <%= i === currentPage ? 'class="active"' : '' %>><%= i %></a>
        <% } %>
    </li>
    <li class="page-item"><% if (currentPage < totalPages) { %>
          <a href="/couponList?page=<%= currentPage + 1 %>">&raquo;</a>
        <% } %>
    </li>
</ul>
      </div>
</nav>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                    
                                        
                                        <th>Coupon Code</th>
                                        <th>Type</th>
                                        <th>Discount value (in %)</th>
                                        <th>minimumPurchaseAmount</th>
                                        <th>validUntil</th>
                                        <th>Status</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <% coupons.forEach(coupon=>{ %>
                                    <tr class="odd gradeX">                                   
                                        <td><%= coupon.code %></td>
                                        <td><%= coupon.discountType %></td>
                                        <td class="center"><%= coupon.discountValue %></td>
                                        <td class="center"><%= coupon.minimumPurchaseAmount %></td>
                                        <td class="center"><%= coupon.validUntil.toLocaleDateString("en-IN",{ day: '2-digit', month: 'short', year: 'numeric' }) %></td>
                                        <td class="center"><%= coupon.status %></td>
                                        <td class="center"><% if (coupon.isActive==true) { %>
                                            
                                            <a href="/deactiveCoupon/<%= coupon._id %>">Deactive</a>
                                          <% } else { %>
                                            <a href="/activeCoupon/<%= coupon._id %>">Active</a>                                                                                                                                 
                                          <% } %></td>
                                        <td class="center"><a href="/editCoupon/<%= coupon._id %>">Edit</a></td>

                                    </tr>
                                    <% }); %>
                                </tbody>
                                <span><%= message %></span>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                       
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
       
        <!-- /.row -->
        
      
    </div>
    <!-- /.container-fluid -->
</div>
<div id="snackbar"></div>


<script>
    if(`<%= insertCoupon %>`=='true'){
        showToast()
    }

    function showToast() {
        var x = document.getElementById("snackbar");
        document.getElementById('snackbar').textContent="Coupon inserted "
        document.getElementById('snackbar').style.backgroundColor='green'
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }

</script>

<%- include('./includes/adminFooter.ejs'); -%>