<%- include('./includes/adminHeader.ejs'); -%>
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Edit Banner</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">Edit Banner details</div>
          <div class="panel-body">
                    <form role="form" method="post" action="/editBannerData?bannerId=<%= banner._id %>" id="" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="type">Title</label>
                    <input type="text" name="title" value="<%= banner.title%>" id="titleName">
                        <div id="errorTitle" style="color: red"></div>
                    </div>

                    
                    <div class="form-group" style="margin-bottom: 60px;">
                        <label>Main Image</label>
                        <img
                          src="<%= banner.imageUrls %>"
                          alt="Current Image"
                          style="max-width: 300px; max-height: 200px;margin-bottom:20px;"
                        />
                        <input class="form-control" type="file" name="bannerImage" id="bannerImage" />
                        <div id="errorImage1" style="color: red;"></div>
                      </div>
                   

                    <button type="submit" id="submitBtn" class="btn btn-default">Submit Button</button>
                    <button type="reset" class="btn btn-default">Reset Button</button>
                    </form>
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
 
</script>



<%- include('./includes/adminFooter.ejs'); -%>












