<%- include('./includes/adminHeader.ejs'); -%>
<style>
    .more {display: none;}
    #snackbar {
       
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #4eb81c;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 10px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
      }
      
      #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }
      
      @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
      }
      
      @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;} 
        to {bottom: 0; opacity: 0;}
      }
      
      @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }
    </style>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="page-header">Game Management</h1>
            </div>
            <li class="search-bar sidebar-search  col-lg-4" style="margin-top: 20px;">
                <div class="input-group custom-search-form">
                    <form action="/searchGame" method="get" style="display: flex;">

                        <input type="text" class="form-control" name="gameName" placeholder="Search by Game name">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                    </form>
                    </span>
                </div>
              
            </li> 
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="/insertGame"><button>Insert Game</button></a>
                         
                     </div>
                     <div class="panel-heading">
                         Games List
                     </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        
<!-- Pagination links -->
<nav aria-label="Page navigation example">
    <div class="pagination-container">
        <ul class="pagination">
            <li class="page-item">
        <% if (currentPage > 1) { %>
          <a  href="/gameList?page=<%= currentPage - 1 %>">&laquo;</a>
        <% } %>
    </li>

    <li class="page-item"><% for (let i = 1; i <= totalPages; i++) { %>
          <a href="/gameList?page=<%= i %>" <%= i === currentPage ? 'class="active"' : '' %>><%= i %></a>
        <% } %>
    </li>
    <li class="page-item"><% if (currentPage < totalPages) { %>
          <a href="/gameList?page=<%= currentPage + 1 %>">&raquo;</a>
        <% } %>
    </li>
</ul>
      </div>
</nav>

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                    
                                        <th>Game name</th>
                                        <th>Description</th>
                                        <th>Genre</th>
                                        <th>Price</th>
                                        <th>Released</th>
                                        <th>Publisher</th>
                                        <th>Size</th>
                                        <th>Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% games.forEach(game=>{ %>

                                       
                                    <tr class="odd gradeX">
                                       
                                        <td><%= game.gameName %></td>
                                        <td><p> <span id="more<%= game._id %>" class="more"><%= game.description %></span></p><button onclick="myFunction('<%= game._id %>')" id="myBtn<%= game._id %>">Read</button> </td>
                                        <td class="center"><%= game.genre %></td>
                                        <td class="center"><%= game.price %></td>
                                        <td class="center"><%= game.released.toLocaleDateString("en-IN",{ day: '2-digit', month: 'short', year: 'numeric' }) %></td>
                                        <td class="center"><%= game.publisher %></td>
                                        <td class="center"><%= game.gameSize %></td>
                                        <td class="center"><img src=" <%= game.gameImage %>" alt="" width="100px"> </td>
                                        <td class="center"><% if (game.unlist==false) { %>
                                            <a href="/Unlist/<%= game._id %>">Unlist</a>
                                          <% } else { %>
                                            <a href="/list/<%= game._id %>">list</a>                                                                                                                                            
                                          <% } %></td>
                                        <td class="center"><a href="/editGame/<%= game._id %>">Edit</a></td>

                                    </tr>
                                    <% }); %>
                                </tbody>
                                <span><%= message %></span>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                       
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
       
        <!-- /.row -->
        
      
    </div>
    <!-- /.container-fluid -->
</div>
<div id="snackbar"></div>

<script>
    if(`<%= gameInsert %>`=='true'){
        showToast()
    }

    function showToast() {
        var x = document.getElementById("snackbar");
        document.getElementById('snackbar').textContent="Game inserted "
        document.getElementById('snackbar').style.backgroundColor='green'
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }

    function myFunction(gameId) {
        var moreText = document.getElementById(`more${gameId}`);
        var btnText = document.getElementById(`myBtn${gameId}`);
    
        if (moreText.style.display === "none" || moreText.style.display === "") {
          moreText.style.display = "inline";
          btnText.innerHTML = "Hide";
        } else {
          moreText.style.display = "none";
          btnText.innerHTML = "Read ";
        }
      }
    </script>

<%- include('./includes/adminFooter.ejs'); -%>