<%- include('./includes/adminHeader.ejs'); -%>


    <!-- /.sidebar -->

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="page-header">Dashboard</h1>
                </div>

                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        <%= counts.userCount %>
                                    </div>
                                    <div> Users</div>
                                </div>
                            </div>
                        </div>
                        <a href="/userList">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-gamepad fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        <%= counts.gameCount %>
                                    </div>
                                    <div>Games</div>
                                </div>
                            </div>
                        </div>
                        <a href="/gameList">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        <%= counts.orderCount %>
                                    </div>
                                    <div>Orders</div>
                                </div>
                            </div>
                        </div>
                        <a href="/orderList">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-ticket fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        <%= counts.couponCount %>
                                    </div>
                                    <div>Coupons</div>
                                </div>
                            </div>
                        </div>
                        <a href="/couponList">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row" style="margin-bottom: 50px;margin-left:200px;">
                <div class="col-lg-10"  >
                    <h2 style="text-align: center;font-weight:600;margin-bottom:30px">Order Chart</h2>
                    <label for="timeRange">Select Time Range:</label>
                    <select id="timeRange">
                        <option value="yearly">Yearly</option>
                        <option value="monthly">Monthly</option>
                        
                    </select>
                    <label for="yearSelection" class="yearLog" style="display: none;">Select Year:</label>
                    <select id="yearSelection"  style="display: none;">
                    </select>
                    <canvas id="chart-bar"></canvas>

                </div>

            </div>
            <div class="row"  style="margin-bottom: 50px;text-align: center;">
                <div class="col-lg-6" style="padding: 80px;">
                    <h2 style="text-align: center;font-weight:600;margin-bottom:30px">Top Installed Games</h2>

                    <canvas id="chart-pie2"></canvas>
                </div>
                <div class="col-lg-6">
                    <h2 style="text-align: center;font-weight:600;margin-bottom:30px">Order Chart</h2>

                    <canvas id="chart-pie2"></canvas>
                </div>
            </div>
        </div>

        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', async function () {


            try {
                await gamesReleasedPerYear();
                await fetchGameCountsPerYear()
                await pieChart()
            } catch (error) {
                console.error('Error:', error);
            }
            const yearSelection = document.getElementById('yearSelection');
            yearSelection.addEventListener('change', fetchMonthlyGameData);


            const timeRangeSelect = document.getElementById('timeRange');
            timeRangeSelect.addEventListener('change', handleTimeRangeChange);
    
            function handleTimeRangeChange() {
                const selectedValue = timeRangeSelect.value;
    
                if (selectedValue === 'yearly') {
                    document.getElementById('yearSelection').style.display='none'

                    gamesReleasedPerYear()
                    } else if (selectedValue === 'monthly') {
                    document.getElementById('yearSelection').style.display='block'

                    fetchMonthlyGameData() 
                    
                }
            }
           

            async function fetchGameCountsPerYear() {
                try {
                    const response = await fetch('/gamesOrderedPerYear');
                    const data = await response.json();
                    const gameCounts = data.gameCounts;
        
                    populateYearDropdown(Object.keys(gameCounts));
                } catch (error) {
                    console.error('Error:', error);
                }
            }

            function populateYearDropdown(years) {
                const yearSelection = document.getElementById('yearSelection');
                yearSelection.innerHTML = '';
                
                years.forEach((year) => {
                    const option = document.createElement('option');
                    option.value = year;
                    option.text = year;
                    yearSelection.appendChild(option);
                });
            }

            async function fetchMonthlyGameData() {
                try {
                    const year = document.getElementById('yearSelection').value;
                    console.log(year)
                    const response = await fetch(`/gamesDownloadedPerMonthInYear?year=${year}`);
                    const data = await response.json();
        
                    // Process 'data' and update the chart accordingly
                    updateMonthlyGameChart(data);
                } catch (error) {
                    console.error('Error:', error);
                }
            }
            async function updateMonthlyGameChart(data) {
                try {
                    const monthlyGameCounts = data.monthlyGameCounts;
            
                    const months = Object.keys(monthlyGameCounts);
                    const counts = Object.values(monthlyGameCounts);
                    
                    const ctxBar = document.getElementById('chart-bar').getContext('2d');
                    const dataBar = {
                        labels: months,
                        datasets: [
                            {
                                label: 'Games Released',
                                data: counts,
                                backgroundColor: 'rgba(66,133,244,0.6)',
                            },
                        ],
                    };
                    const configBar = {
                        type: 'bar',
                        data: dataBar,
                        options: {
                            plugins: {
                                title: {
                                    display: true,
                                    text: 'Games Released Per Month', // Set your desired title here
                                    font: {
                                        size: 18,
                                        family: 'Arial' // Adjust the font size if needed
                                    },
                                },
                            },
                            scales: {
                                y: {
                                    beginAtZero: true,
                                },
                            },
                        },
                    };
                    
            
                    // Destroy the existing chart if it exists
                    if (window.myBarChart instanceof Chart) {
                        window.myBarChart.destroy();
                    }
            
                    window.myBarChart = new Chart(ctxBar, configBar);
                
                } catch (error) {
                    console.error('Error:', error);
                }
            }
            
          

            async function gamesReleasedPerYear(){
                try {
                    const response = await fetch('/gamesOrderedPerYear');
                    const data = await response.json();
                    const gameCountsJSON = data.gameCounts
                    
                    const years = Object.keys(gameCountsJSON);
                    const counts = Object.values(gameCountsJSON);
              
                    const ctxBar = document.getElementById('chart-bar').getContext('2d');
                    const dataBar = {
                      labels: years, 
                      datasets: [
                        {
                          label: 'Games Released',
                          data: counts,
                          backgroundColor: '#3399ff',
                        },
                      ],
                    };
                    const configBar = {
                      type: 'bar',
                      data: dataBar,    
                      options: {
                        
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      },
                    };
                    new Chart(ctxBar, configBar);
                  } catch (error) {
                    console.error('Error:', error);
                  }
            }
            function  showGraph(data){

            }

           async function pieChart(){
            try {
                const response = await fetch('/mostInstalledGames');
                const data = await response.json();
                const topGames = data.topGames;
              
                const gameNames = topGames.map((game) => game.gameName);
                const ordersCount = topGames.map((game) => game.ordersCount);
              
                const ctxPie = document.getElementById('chart-pie2').getContext('2d');
                const dataPie = {
                  labels: gameNames,
                  datasets: [
                    {
                      data: ordersCount,
                      backgroundColor: [
                        '#3399ff',
                        '#cc66ff',
                        '#33cc33',
                        '#ffcc00',
                        '#ff3333', // Add more colors if needed
                      ],
                    },
                  ],
                };
                const configPie = {
                  type: 'pie',
                  data: dataPie,
                  options: {
                    // You can add options here if needed
                  },
                };
                new Chart(ctxPie, configPie);
              } catch (error) {
                console.error(error);
                // Handle error here
              }
           } 
             
        
        });
      </script>
    <%- include('./includes/adminFooter.ejs'); -%>








 